    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
            <p>Safe Code Discord</p>
            <p><a style="border-color: #313131; background-color: #333;-webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 5px 15px 4px rgba(0,0,0,0.5); box-shadow: 0px 10px 13px -7px #000000, 9px 5px 15px 4px rgba(0,0,0,0.5);" class="btn btn-secondary" href="https://discord.gg/bykT8sm" role="button">Sunucuya Katıl <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <footer class="footer"><p style="text-align:center">© Safe Code 2020 <a href="https://discord.gg/bykT8sm" class="back-to-top" style="text-align:center"><i class="fa fa-fw fa-arrow-circle-up"></i></a></p></footer>
    </div>
  </body>
</html>